.Editor {
    padding: 28px;
}

.Editor-Title {
    font-size: 24px;
    font-weight: bold;
}

.Editor-Type {
    font-size: 15px;
    color: rgba(0,0,0,0.5);
    margin-top: 7px;
}

.Editor-Type .icon {
    top: 3px;
    margin-right: 7px;
}

.Editor-Head {
    margin-bottom: 28px;
}

.Editor-item {
    margin-top: 0px;
}

.Editor-Subtitle {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
}

.Editor-Options {
    margin-top: 32px;
}

.Editor-button_add {
    font-size: 15px;
    margin: 10px 0 15px 0;
}

.Editor-button_add .icon {
    top: 3px;
    margin-right: 7px;
}

.Editor-button_add:hover {
    cursor: pointer;
}

.Editor-answers_item {
    margin: 10px 0 10px 0;
    display: flex;
}
