.header2__main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-logo {
  margin: 0px 0px 0px 20px;
}

.header2__left {
  padding-top: .3rem;
  display: flex;
}

.header2__right {
  padding-top: 0px;
}