.Constructor-Toolbar {
	margin-right: 50px;
}

.Constructor {
	display: inline-block;

	padding-left: 40px;
}

.Constructor-Modal .modal__content {
	border-radius: 6px;

	width: 900px;

	background-color: #f9f9f9;
}

.Constructor-Content {
	display: flex;
}

.Constructor-Settings {
	width: 550px;
	height: 80vh;
	display: flex;
	flex-direction: column;
}

.Constructor-Settings .template {
	overflow: scroll;

	height: 100%;
}

.Constructor-Preview {
	background-color: #fff;

	flex: 1 1 auto;

	text-align: center;

	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}