.Constructor-Links {
    margin: 10px 0 40px 0;

    padding-left: 16px;
}

.Constructor-Links .Constructor-Action {
    display: flex;
    margin-left: auto;
}

.Constructor-Links .Constructor-Action .button2 {
    margin-left: 10px;
}

.Constructor-Links .Constructor-Action .button2 .button2__text {
    margin-left: 5px;
}