.Constructor-Toolbar {
	margin-right: 25px;
}

.Constructor {
	width: 80%;
	max-width: 1100px;
	margin: 0 auto;
	margin-top: 80px;
	padding-left: 40px;
}

.Constructor-CanvasArea .Canvas {
	margin-bottom: 40px;
}
