.polls {
    display: block;
    margin: 20px;
}

.polls-container {
    display: flex;
    justify-content: space-evenly;
}

.polls-header {
    text-align: center;
    font-size: 28px;
    font-weight: 400;
}
