.Question {
	position: relative;

	height: 90px;

	padding-left: 40px;

	background-color: #fff;
	border-bottom: 1px solid #e5e5e5;
	
	cursor: pointer;
}

.Question:hover {
	border-radius: 6px;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,0.1);
	z-index: 1;
}
